.big_container {
  background-color: lightblue;
  height: 850px;
  width: 100%;
}
.header {
  background-color: whitesmoke;
  height: 50px;
  width: 100%;
}

.empty {
  color: red;
  font-size: 20px;
}

.filled {
  color: lightgrey;
  font-size: 20px;
}

.square {
  background-color: lightgrey;
  height: 150px;
  width: 180px;
  border: 2px solid black;
  font-size: 25px;
}

.btn {
  background-color: lightgrey;
  color: red;
  font-weight: bold;
  font-size: 20px;
  height: 80px;
  width: 180px;
  margin: 30px;
}

.btn:hover {
  background-color: whitesmoke;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  width: 350px;
  margin: 200px 700px;
}

.message {
  color: red;
  display: none;
}

#form_container {
  background-color: #f1f1f1;
  height: 850px;
  width: 100%;
}

#message_container {
  background-color: whitesmoke;
  height: 850px;
  width: 100%;
}

#alert_message {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 100px 220px;
  color: red;
}
